@model Test.Common.Model.b_MingZu

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <style type="text/css">
        .MingZu{
            font-weight: bolder;
            background-color:#0094ff;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>b_MingZu</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.Hidden("YuanMingZu", @Model.MingZu)
    
            <div class="form-group">
                @Html.LabelFor(model => model.MingZu, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MingZu)
                    @Html.ValidationMessageFor(model => model.MingZu)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PaiXu, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PaiXu)
                    @Html.ValidationMessageFor(model => model.PaiXu)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.TianJiaShiJian, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TianJiaShiJian)
                    @Html.ValidationMessageFor(model => model.TianJiaShiJian)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ZhuangTai, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ZhuangTai)
                    @Html.ValidationMessageFor(model => model.ZhuangTai)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
